
h1{
    font-family: "Roboto Condensed", Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color:rgb(0, 13, 255);
}
p{
    font-family: Arial;
    font-size: 15px;
    font-weight: small;
    font-style: italic;
}
body{
    background-color: hsl(54, 49%, 64%);
}