body{
    margin: 0;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 10em;
    text-align: center;
    background-color: aquamarine;

    transform: translate(100px, 150px);
    transform: rotateZ(45deg);
    transform: scale(1.5,2);
    transform: skewX(45deg);
    transform: translate(100%) rotate(45deg) scale(0.5);
}